name: CI/CD Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and push image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/yii2-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/yii2-app:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker service update --image ${{ secrets.DOCKER_USERNAME }}/yii2-app:latest yii2_yii2 || \
            docker service create --name yii2_yii2 --publish 8080:80 ${{ secrets.DOCKER_USERNAME }}/yii2-app:latest